{% extends "accounts/onboarding/layout.html" %}
{% block step %}
  <form method="post" class="onb__form" novalidate>
    {% csrf_token %}
    <fieldset class="onb__fieldset">
      <legend class="onb__title">{{ step.title }}</legend>
      {% for error in form.non_field_errors %}<div class="flash t-red">{{ error }}</div>{% endfor %}
      {% include "accounts/partials/chips_field.html" with field=form.titles_text picked=picked name="titles" recommended=recommended %}
      {{ suggestions|json_script:"titles-suggestions" }}
    </fieldset>
    {% include "accounts/onboarding/partials/actions.html" %}
  </form>
{% endblock %}
