{% extends "admin/base_site.html" %}
{% load static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/admin-theme.css' %}">
  <link rel="icon" href="{% static 'images/landing-mark.svg' %}" type="image/svg+xml">
{% endblock %}

{% block branding %}
  <div id="site-name"><a href="{% url 'admin:index' %}" class="admin-brand"><img src="{% static 'images/landing-mark.svg' %}" width="32" height="32" alt="">tonjobidéal<span>Administration</span></a></div>
  {% if user.is_anonymous %}{% include "admin/color_theme_toggle.html" %}{% endif %}
{% endblock %}
